# Удалить ".sample" в названии, подставить свои значения

#settings.py
SECRET_KEY=secret_key
DEBUG=debug(True/False)

# DATABASE настройки
NAME=название_БД
USER=пользователь_БД
PASSWORD=пароль_БД
HOST=хост_БД
PORT=порт_БД

MY_EMAIL=email

# данные для суперюзера в users/management/commands/createadmin.py
ADMIN_EMAIL=почта
ADMIN_USERNAME=юзернейм
ADMIN_PASSWORD=пароль

# Названия папок для превью моделей Course и Lesson
# Если не писать - default 'course_preview/' и 'lesson_preview/' в media/
COURSE_DIR=cousre_dir
LESSON_DIR=lesson_dir

# API ключ от http://stripe.com
STRIPE_API_KEY=api_key

# Redis URLs для Celery
REDIS_URL=redis:...
REDIS_BACKEND=redis:...

# данные для почтовой рассылки через Яндекс
YANDEX_EMAIL_HOST=хост_от_Яндекс_почты
YANDEX_EMAIL_PORT=порт_от_Яндекс_почты
YANDEX_EMAIL_USE_TLS=использование_TLS
YANDEX_EMAIL_USE_SSL=использование_SSL
YANDEX_EMAIL_HOST_USER=почта_с_которой_отправляется_писмо
YANDEX_EMAIL_HOST_PASSWORD=хост_пароль_от_Яндекс_почты
